.container {
    display: grid;
    justify-content: center;
    font-family: arial;
}

.title {
    font-size: 30px;
}

.subtitle {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.cards {
    display: inline-flex;
}

.monsterCard {
    cursor: pointer;
    margin: 15px 30px 30px 0px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px grey;
}

.monsterImg {
    width: 130px;
    height: 95px;
    margin: 5px 5px 0px;
    padding: 0px;
}

.monsterName {
    font-size: 18px;
    text-align: left;
    margin: 2px 5px 7px;
    padding: 0px;
}

.buttonBattle {
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: #799A82;
    border-radius: 7px;
    border: none;
    padding: 15px 30px;
    margin: 0px 30px 0px 0px;
    position: relative;
    top: 50%;
}

.battle {
    display: inline-flex;
}

.notSelectedCard, .selectedCard {
    border-radius: 7px;
    box-shadow: 1px 1px 10px grey;
    margin: 0px 30px 0px 0px;
    height: 450px;
    width: 300px;
    text-align: center;
}

.notSelectedCardText {
    position: relative;
    top: 40%;
}