<div class="container">
    <h1 class="title">Battle of Monsters</h1>
    <p class="subtitle">Select your monster</p>
    <div class="cards">
        <div *ngFor="let monster of listMonsters; let i = index" class="monster" (click)="showMonsterData()">
            <img src="{{imgDir}}{{monster.imageUrl}}" class="monsterImg">
            <p class="monsterName">{{monster.name}}</p>
        </div>
    </div>
    <div class="battle">
        <div class="player"></div>
        <button class="buttonBattle" (click)="startBattle()">Start Battle</button>
        <div class="computer"></div>
    </div>
</div>