<div class="container">
    <h1 class="title">Battle of Monsters</h1>
    <h3 class="subtitle">Select your monster</h3>
    <div class="cards">
        <div *ngFor="let monster of listMonsters; let i = index" class="monsterCard" (click)="selectPlayersMonster(monster.id)">
            <img src="{{imgDir}}{{monster.imageUrl}}" class="monsterImg">
            <p class="monsterName">{{monster.name}}</p>
        </div>
    </div>
    <div class="battle">
        <div *ngIf="!playersMonsterSelected" class="notSelectedCard">
            <h2 class="notSelectedCardText">Player</h2>
        </div>
        <div *ngIf="playersMonsterSelected" class="selectedCard">
            <img src="{{imgDir}}{{selectedPlayersMonster.imageUrl}}" class="selectedMonsterImg">
            <p class="selectedMonsterName">{{selectedPlayersMonster.name}}</p>
            <hr>
            <p class="selectedMonsterText">HP</p>
            <div class="progressBar"><div class="progressBarLoaded" [style.width.%]="selectedPlayersMonster.hp"></div></div>
            <p class="selectedMonsterText">Attack</p>
            <div class="progressBar"><div class="progressBarLoaded" [style.width.%]="selectedPlayersMonster.attack"></div></div>
            <p class="selectedMonsterText">Defense</p>
            <div class="progressBar"><div class="progressBarLoaded" [style.width.%]="selectedPlayersMonster.defense"></div></div>
            <p class="selectedMonsterText">Speed</p>
            <div class="progressBar"><div class="progressBarLoaded" [style.width.%]="selectedPlayersMonster.speed"></div></div>
        </div>
        <div>
            <button class="buttonBattle" (click)="startBattle()">Start Battle</button>
        </div>
        <div *ngIf="!computersMonsterSelected" class="notSelectedCard">
            <h2 class="notSelectedCardText">Computer</h2>
        </div>
        <div *ngIf="computersMonsterSelected" class="selectedCard">
            <img src="{{imgDir}}{{selectedComputersMonster.imageUrl}}" class="selectedMonsterImg">
            <p class="selectedMonsterName">{{selectedComputersMonster.name}}</p>
            <hr>
            <p class="selectedMonsterText">HP</p>
            <div class="progressBar"><div class="progressBarLoaded" [style.width.%]="selectedComputersMonster.hp"></div></div>
            <p class="selectedMonsterText">Attack</p>
            <div class="progressBar"><div class="progressBarLoaded" [style.width.%]="selectedComputersMonster.attack"></div></div>
            <p class="selectedMonsterText">Defense</p>
            <div class="progressBar"><div class="progressBarLoaded" [style.width.%]="selectedComputersMonster.defense"></div></div>
            <p class="selectedMonsterText">Speed</p>
            <div class="progressBar"><div class="progressBarLoaded" [style.width.%]="selectedComputersMonster.speed"></div></div>
        </div>
    </div>
</div>