<div class="container">
    <h1 class="title">Battle of Monsters</h1>
    <h3 class="subtitle">Select your monster</h3>
    <div class="cards">
        <div *ngFor="let monster of listMonsters; let i = index" class="monsterCard" (click)="selectPlayersMonster(monster.id)">
            <img src="{{imgDir}}{{monster.imageUrl}}" class="monsterImg">
            <p class="monsterName">{{monster.name}}</p>
        </div>
    </div>
    <div class="battle">
        <div *ngIf="!playersMonsterSelected" class="notSelectedCard">
            <h2 class="notSelectedCardText">Player</h2>
        </div>
        <div *ngIf="playersMonsterSelected" class="selectedCard">
            <img>
            <p>{{selectedPlayersMonster.name}}</p>
        </div>
        <div>
            <button class="buttonBattle" (click)="startBattle()">Start Battle</button>
        </div>
        <div *ngIf="!computersMonsterSelected" class="notSelectedCard">
            <h2 class="notSelectedCardText">Computer</h2>
        </div>
        <div *ngIf="computersMonsterSelected" class="selectedCard">
            <img>
            <p>{{selectedComputersMonster.name}}</p>
        </div>
    </div>
</div>