.container {
    text-align: center;
    font-family: arial;
}

.cards {
    display: inline-flex;
}

.buttonBattle {
    color: white;
    background-color: #799A82;
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
}